<div class="floating-card-row-container">
            <!-- Row containing two sets of cards for seamless animation -->
            <div class="floating-card-row">
                <!-- Original Set of Cards -->
                <div class="floating-card">
                    <img class="lazy-load" data-src="/img/tools/ehereum.png" alt="Ethereum Logo">
                    <div class="card-name">Ethereum</div>
                </div>
                <div class="floating-card">
                    <img class="lazy-load" data-src="/img/tools/hyperledger.png" alt="Hyperledger Logo">
                    <div class="card-name">Hyperledger</div>
                </div>
                <div class="floating-card">
                    <img class="lazy-load" data-src="/img/tools/truffle.webp" alt="Truffle Suite Logo">
                    <div class="card-name">Truffle Suite</div>
                </div>
                <div class="floating-card">
                    <img class="lazy-load" data-src="/img/tools/ganache.webp" alt="Ganache Logo">
                    <div class="card-name">Ganache</div>
                </div>
                <div class="floating-card">
                    <img class="lazy-load" data-src="/img/tools/metamask.png" alt="Metamask Logo">
                    <div class="card-name">Metamask</div>
                </div>

                <div class="floating-card">
                    <img class="lazy-load" data-src="/img/tools/infura.webp" alt="Infura Logo">
                    <div class="card-name">Infura</div>
                </div>
                <div class="floating-card">
                    <img class="lazy-load" data-src="/img/tools/remix-ide.webp" alt="Remix IDE Logo">
                    <div class="card-name">Remix IDE</div>
                </div>

                <div class="floating-card">
                    <img class="lazy-load" data-src="/img/tools/chainlink.jpg" alt="Chainlink Logo">
                    <div class="card-name">Chainlink</div>
                </div>
            </div>
        </div>