  <section>
            <div class="section-title text-center position-relative">
                <div class="h2 placed-student-title" style="color:black;"> Tools and  <b
                        style="color:#ff5421;"
                        class="d-inline-block position-relative text-capitalize "> Technologies covered</b>
                </div>
            </div>
            <div class="floating-card-row-container">
                <!-- Row containing two sets of cards for seamless animation -->
                <div class="floating-card-row">
                    <!-- Original Set of Cards -->
                    <div class="floating-card">
                        <img class="lazy-load" data-src="/img/tools/policy-center.jpeg" alt="PolicyCenter Logo">
                        <div class="card-name">PolicyCenter</div>
                    </div>
                    <div class="floating-card">
                        <img class="lazy-load" data-src="/img/tools/claimCenter.png" alt="ClaimCenter Logo">
                        <div class="card-name">ClaimCenter</div>
                    </div>
                    <div class="floating-card">
                        <img class="lazy-load" data-src="/img/tools/Power-BI-Symbol.png" alt="BillingCenter Logo">
                        <div class="card-name">BillingCenter</div>
                    </div>
                    <div class="floating-card">
                        <img class="lazy-load" data-src="/img/tools/dataHub.png" alt="DataHub Logo">
                        <div class="card-name">DataHub</div>
                    </div>
                    <div class="floating-card">
                        <img class="lazy-load" data-src="/img/tools/infoCenter.png" alt="InfoCenter Logo">
                        <div class="card-name">InfoCenter</div>
                    </div>
                 
                    <div class="floating-card">
                        <img class="lazy-load" data-src="/img/tools/Python.jpg" alt="InsuranceSuite Logo">
                        <div class="card-name">InsuranceSuite</div>
                    </div>
                    <div class="floating-card">
                        <img class="lazy-load" data-src="/img/tools/Pandas.png" alt="Digital Portals Logo">
                        <div class="card-name">Digital Portals</div>
                    </div>
                  
                    <div class="floating-card">
                        <img class="lazy-load" data-src="/img/tools/Looker.png" alt="Guidewire Cloud
                        Logo">
                        <div class="card-name">Guidewire Cloud
                        </div>
                    </div>
                    <div class="floating-card">
                        <img class="lazy-load" data-src="/img/tools/Matplotlib-logo.png" alt="Guidewire Predictive Analytics Logo">
                        <div class="card-name">Guidewire Predictive Analytics</div>
                    </div>
                    <div class="floating-card">
                        <img class="lazy-load" data-src="/img/tools/PyCharm.png" alt="Advanced Product Designer (APD) Logo">
                        <div class="card-name">Advanced Product Designer (APD)</div>
                    </div>
                 
                </div>
            </div>
            
        </section>
    